/* 文章标题居中 */
#page-header #post-info {
 position:absolute;
 bottom:5rem;
 padding:0 8%;
 width:100%;
 text-align:center;
}
/* 导航栏置顶透明覆盖 */
#page-header.not-top-img #nav {
    background: rgba(255,255,255,0);
    -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,0);
    box-shadow: 0 5px 6px -5px rgba(133,133,133,0)
}
/* 导航栏非置顶透明覆盖 */
#page-header.nav-fixed #nav {
 background: rgba(255,255,255,.8);
    -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,.6);
    box-shadow: 0 5px 6px -5px rgba(133,133,133,.6);
}
/* 以下透明度设置 */
#content-inner {
    --light_bg_color: hsla(0,0%,100%,0.6);
    --dark_bg_color: rgba(18,18,18,0.8);
    --light_page_color: hsla(0,0%,100%,0.5);
    --dark_page_color: rgba(18,18,18,0.8);
    --light_link-bg: rgba(237,240,247,0.46);
    --dark_link-bg: rgba(237,240,247,0.05);
}
/* 文章页及首页卡片透明 */
#recent-posts>.recent-post-item,.layout>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background: var(--light_page_color)
}
/* 侧边栏透明 */
#aside-content .card-widget {
    background: var(--light_bg_color)
}
/*侧边栏深色页面透明 */
[data-theme=dark] #aside-content .card-widget {
    background: var(--dark_bg_color)
}
/*首页深色页面透明 */
[data-theme=dark] #recent-posts>.recent-post-item,[data-theme=dark] .layout>div:first-child:not(.recent-posts),[data-theme=dark] .layout_post>#page,[data-theme=dark] .layout_post>#post,[data-theme=dark] .read-mode .layout_post>#post {
    background: var(--dark_page_color)
}
/*友链边框 */
#article-container .flink .flink-list>.flink-list-item {
    background: var(--light_link-bg)
}
/*友链深色页面边框 */
[data-theme=dark] #article-container .flink .flink-list>.flink-list-item {
    background: var(--dark_link-bg)
}

/*字体*/
@font-face{
  font-family:'aqqxs' ;  /* 字体名自定义即可 */
  src:url('https://cdn.jsdelivr.net/gh/HopeLight/css/shousi.ttf'); /* 字体文件路径 */
  font-display : swap;
}

a.article-title {
  font-family: 'aqqxs', sans-serif;
}
.content {
  font-family: 'aqqxs', sans-serif;
}
.article-meta-wrap {
  font-family: 'aqqxs', sans-serif;
}
div#bbtalk {
  font-family: 'aqqxs', sans-serif;
}
a#site-name {
  font-family: 'aqqxs', sans-serif;
}
.card-info-avatar.is-center {
  font-family: 'aqqxs', sans-serif;
}
p {
  font-family: 'aqqxs', sans-serif;
}
.card-widget.card-tags {
  font-family: 'aqqxs', sans-serif;
}
.card-widget.card-webinfo {
  font-family: 'aqqxs', sans-serif;
}
element.style {
  font-family: 'aqqxs', sans-serif;
}
.aplayer-music {
  font-family: 'aqqxs', sans-serif;
}
div#hopelight_plus_menu {
  font-family: 'aqqxs', sans-serif;
}
div#menus {
  font-family: 'aqqxs', sans-serif;
}
div#local-search-title {
  font-family: 'aqqxs', sans-serif;
}
input.local-search-box--input {
  font-family: 'aqqxs', sans-serif;
}
div#post-info {
  font-family: 'aqqxs', sans-serif;
}
.post-copyright {
  font-family: 'aqqxs', sans-serif;
}
.sticky_layout {
  font-family: 'aqqxs', sans-serif;
}
.search-dialog {
  font-family: 'aqqxs', sans-serif;
}
main#content-inner {
  font-family: 'aqqxs', sans-serif;
}
p {
  font-family: 'aqqxs', sans-serif !important;
}
#footer-wrap {
  font-family: 'aqqxs', sans-serif;    /* 手机侧边栏 */
}
#sidebar #sidebar-menus.open {
  font-family: 'aqqxs', sans-serif;    /* 页脚 */
}
#search-button{
      font-family: 'aqqxs', sans-serif; /* 搜索 */
}
#article-container code,#article-container pre {
  font-family: 'aqqxs', sans-serif !important; /* code标签以及代码块 */
}
